<a href="https://colab.research.google.com/github/veeruamma/Machine-Learning-Topics/blob/main/Multiple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
cd /content/drive/MyDrive/LEARNING/Machine Learning Topics

/content/drive/MyDrive/LEARNING/Machine Learning Topics

# Multiple Linear Regression

In [2]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
# Importing the dataset : calculate the profit based on the expenditures in runing the start up companies
dataset = pd.read_csv('data/50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [22]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 4]

In [23]:
#Convert the column into categorical columns

states=pd.get_dummies(X['State'],drop_first=True)
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [24]:
# Drop the state coulmn
X=X.drop('State',axis=1)

In [25]:
# concat the dummy variables
X=pd.concat([X,states],axis=1)

In [26]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [27]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [28]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [30]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [31]:
score

0.9347068473282423